body {
  margin: 0;
  font-family: 'Helvetica', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: assistant;
  src: url(../public/Assistant-Regular.ttf);
}

.assistant {
  font-family: assistant;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
